#page-title {
  text-align: center;
  color: darkblue;
  margin-bottom: 20px;
}


table {
  width: 70%;
  margin: 0 auto 40px;
  border-collapse: collapse;
  text-align: center;
}

th {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  border: 1px solid black;
}

td {
  padding: 10px;
  border: 1px solid black;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.highlight-row {
  background-color: #ffeb3b;
  font-weight: bold;
}


form {
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

#form-title {
  text-align: center;
  color: darkred;
  margin-bottom: 15px;
}

label {
  font-weight: bold;
}

input[type="text"],
input[type="email"],
select,
textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}
